<h1>Flexible Payment</h1>

<p>
  A <%= @number_of_years.round(0) %> year loan of $<%= @present_value.round(0) %> with an annual rate of <%= @basis_points %>% requires a monthly payment of $<%= @rounded_dollars %>

</p>
