<h1>Flexible Payment</h1>

<p>
  A <%= @number_of_years.round(0) %> year loan of <%= number_to_currency(@present_value) %> with an annual rate of <%= number_to_percentage(@basis_points, precision: 2) %> requires a monthly payment of <%= number_to_currency(@payment) %>

</p>
