<ul>

  <li>
    <a href="/square/new">Square Calculator</a>
  </li>

  <li>
    <a href="/square_root/new">Square Root Calculator</a>
  </li>

  <li>
    <a href="/payment/new">Monthly Payment Calculator</a>
  </li>

  <li>
    <a href="/random/new">Random Number Generator</a>
  </li>
</ul>
