<h1>Monthly Payment Results</h1>

<p><strong>APR</strong>
<%= @apr %>%
</p>
<p><strong>Number of Years</strong>
<%= @years %>
</p>

<p><strong>Principal</strong>
$<%= @principal %>
</p>

<p><strong>Monthly Payment</strong>
$<%= @rounded_dollars %>
</p>

<p><a href="/payment/new">Calculate another monthly payment</a></p>
