<h1>Monthly Payment Results</h1>

<p><strong>APR</strong>
<%= number_to_percentage(@apr, precision: 4) %>
</p>
<p><strong>Number of years</strong>
<%= @years %>
</p>

<p><strong>Principal</strong>
<%= number_to_currency(@principal) %>
</p>

<p><strong>Monthly Payment</strong>
<%= number_to_currency(@payment) %>
</p>

<p><a href="/payment/new">Calculate another monthly payment</a></p>
