<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
  <label>
    APR
  </label>
  <input type ="text" name="user_apr" placeholder="e.g., 5.1% would be 5.1">
  </div>
  <div>
  <label>
    Number of Years
  </label>
  <input type ="text" name="user_years" placeholder="e.g., 10 years would be 10">
  </div>
  <div>
  <label>
    Principal
  </label>
  <input type ="text" name="user_principal" placeholder="e.g., $5000 would be 5000">
  </div>

  <button>Calculate monthly payment</button>

</form>
