<h1>Random Number Generator</h1>

<form action="/random/results">
  <div>
  <label for="minimum">
    Enter the Minimum boundary
  </label>
  <input type ="text" name="user_min" placeholder="random greater than this" id="minimum">
  </div>

  <div>
  <label for="maximum">
    Enter the Maximum boundary
  </label>
  <input type ="text" name="user_max" placeholder="random less than this" id="maximum">
  </div>

  <button type="submit">Pick random number</button>

</form>
