<h1>Random Number Generator</h1>

<form action="/random/results">
  <div>
  <label>
    Enter the minimum boundary
  </label>
  <input type ="text" name="user_min" placeholder="random number will be larger than this">
  </div>

  <div>
  <label>
    Enter the maximum boundary
  </label>
  <input type ="text" name="user_max" placeholder="random number will be smaller than this">
  </div>

  <button>Calculate random number</button>

</form>
