<h1>Square Calculation</h1>

<form action="/square/results">
  <div>
  <label for="number_to_square">
    Enter a number
  </label>
  <input type ="text" name="user_number" id="number_to_square">
  </div>

  <button>Calculate square</button>

</form>
