<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <div>
  <label for="number_to_squareroot">
    Enter a number
  </label>
  <input type ="text" name="user_number" id="number_to_squareroot">
  </div>

  <button>Calculate square root</button>

</form>
